@using System.Security.Claims
@using Microsoft.AspNetCore.Http
@attribute [Authorize]
@page "/"

@inject AuthenticationStateProvider AuthState


    <AuthorizeView>
        <Authorized>
            <div class="d-flex justify-content-center">
                <h2>Welcome @User.FindFirst(ClaimTypes.GivenName).Value @User.FindFirst(ClaimTypes.Surname).Value!</h2>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="row">
                <div class="col-12 text-center">
                    <h2 style="font-weight: bolder">Welcome To Cirrus Cloud Storage!</h2>
                    <h4>Our goal is to give you the most seamless cloud storage solution possible.</h4>
                    <h4>By integrating Machine Learning we can assist you with automatically categorize your files.</h4>
                </div>
            </div>
        </NotAuthorized>
    </AuthorizeView>

    @code {

        private ClaimsPrincipal User;

        protected override async Task OnInitializedAsync()
        {
            var authState = await AuthState.GetAuthenticationStateAsync();
            User = authState.User;
            base.OnInitialized();
        }
    }