@using System.Security.Claims
@using Microsoft.AspNetCore.Http
@attribute [Authorize]
@page "/"

@inject AuthenticationStateProvider AuthState

<div class="top-row">
    <AuthorizeView>
        <Authorized>
            <h5>Welcome @User.FindFirst(ClaimTypes.GivenName).Value @User.FindFirst(ClaimTypes.Surname).Value!</h5>
        </Authorized>
        <NotAuthorized>
            <h5>Welcome To Cirrus Cloud Storage!</h5>
            <p>Our goal is to give you the most seamless cloud storage solution possible.</p>
            <p>By integrating Machine Learning we can assist you with automatically categorize your files.</p>
        </NotAuthorized>
    </AuthorizeView>
</div>

    @code {

        private ClaimsPrincipal User;

        protected override async Task OnInitializedAsync()
        {
            var authState = await AuthState.GetAuthenticationStateAsync();
            User = authState.User;
            base.OnInitialized();
        }
    }