@using CirrusWebApp.Data.Models; 
@using CirrusWebApp.Data.Services; 
@page "/SignUp" 

@inject PasswordHashService PasswordHashService
@inject CosmosDbService CosmosDbService
@inject NavigationManager NavManager

<EditForm Model="@SignUpUser" OnSubmit="Submit">
    <ValidationSummary />
    <div class="form-control">
        <InputText @bind-Value="SignUpUser.Firstname" placeholder="Firstname" />
    </div>
    <div class="form-control">
        <InputText @bind-Value="SignUpUser.Lastname" placeholder="Surname/Last Name" />
    </div>
    <div class="form-control">
        <InputText @bind-Value="SignUpUser.Email" placeholder="Email" />
    </div>
    <div class="form-control">
        <InputText @bind-Value="SignUpUser.Password" placeholder="Password" type="password" />
    </div>
    <div class="form-control">
        <input type="password" placeholder="Confirm Password" />
    </div>
    <button type="submit">Submit</button>
</EditForm>

@code {

    private User SignUpUser = new User();
    private string ClearPsw;

    public async Task Submit()
    {
        SignUpUser.id = SignUpUser.Email;
        SignUpUser.PasswordSalt = PasswordHashService.RandomSalt;
        ClearPsw = SignUpUser.Password;
        SignUpUser.Password = PasswordHashService.GenerateSaltedHash(SignUpUser.Password);

        await CosmosDbService.AddUser(SignUpUser);

        NavManager.NavigateTo($"/LoginCallNative/{SignUpUser.Email}/{ClearPsw}/false", true);
    }
}
