@using Microsoft.AspNetCore.Http;

@inject CosmosDbService CosmosService
@inject IHttpContextAccessor HttpContextAccessor

<div class="row">
    @foreach (string Category in Categories)
    {
        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 p-3">
            <div class="card bg-dark text-white border-light">
                <img class="category-card card-img" src="resources/fileicon6.jpg" alt="file-bg-img" />
                <div class="card-img-overlay category-card-overlay">
                    <h4 class="card-title">@Category</h4>
                </div>
            </div>
        </div>
    }
</div>

@code {

    private List<string> Categories = new List<string>();
    private List<File> UserFiles;
    string UserId;

    protected override async Task OnInitializedAsync()
    {
        UserId = HttpContextAccessor.HttpContext.User.Claims.Where(u => u.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier").FirstOrDefault().Value;
        UserFiles = await CosmosService.GetFiles(UserId);
        foreach (File file in UserFiles)
        {
            foreach (string category in file.Categories)
            {
                if (!Categories.Contains(category))
                {
                    Categories.Add(category);
                }
            }
        }
        await base.OnInitializedAsync();
    }
}
