@using System.Security.Claims
@using Microsoft.AspNetCore.Http

@inject AuthenticationStateProvider AuthState

@if (User != null)
{
<div class="bg-dark float-right pr-5" style="width: 100%;">
    <b class="pr-2 text-white">@Firstname @Lastname</b>
    @if (Avatar != null)
    {
        <img style="width: 15px; height: 15px;" src="@Avatar" />
    }
    <AuthorizeView>
        <Authorized>
            <a class="text-white" href="/LogoutCall">Sign Out</a>
        </Authorized>
    </AuthorizeView>
</div>
}

@code {

    private ClaimsPrincipal User;
    private string Firstname;
    private string Lastname;
    private string Avatar;

    protected override async Task OnInitializedAsync()
    {
        await SetupUser();
        await base.OnInitializedAsync();
    }

    private async Task SetupUser()
    {
        var authState = await AuthState.GetAuthenticationStateAsync();
        User = authState.User;
        if (User != null)
        {
            Firstname = User.FindFirst(ClaimTypes.GivenName) == null ? "" : User.FindFirst(ClaimTypes.GivenName).Value;
            Lastname = User.FindFirst(ClaimTypes.Surname) == null ? "" : User.FindFirst(ClaimTypes.Surname).Value;
            Avatar = User.FindFirst("urn:google:image") == null ? null : User.FindFirst("urn:google:image").Value;
        }
    }
}
